/* Add screen styles below */
#TitleBox{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 199px;
    flex-shrink: 0;
    background: #F4A64E;
}
#Logo{
    position: sticky;
    top: 10px;
    right: 20px;
    width: 202px;
    height: 202px;
    flex-shrink: 0;
}
#TitleBox{
    color: #321F04;
    font-family: Helvetica;
}
#TitleBox h1{
    position: absolute;
    top: -20px;
    left:220px;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#TitleBox h2{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50%;
    height: 200px;
    font-size: 54px;
    font-weight: 800;
    line-height: normal;
}

nav {
    position: absolute;
    background-color: #88642E;
    width: 100%;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline;
    text-align: center;
}

nav ul li a {
    display:inline-block;
    color: #312109;
    font-size: 30px;
    padding: 26px;
    font-weight: 800;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e05d10;
}

#Shop{
    position: relative;
    top: 40px;
    padding-top: 90px;  
    margin: 10px;
}

#Shop img{
    float:right;
    width: 900px;
    height: 590px;
    border: 12px solid #F09D3B;
}
#Shop h1 h2 h3 p {
    margin-top: 0px;
    margin-bottom: 0px;
}
#Shop h1{
    color: #EFB255;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#Shop h2{
    color: #321F04;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#Shop h3{
    color: #321F04;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#Shop p{
    color: #321F04;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#EndBox{
    margin-top: auto;
    width: 100%; 
    height: 124px;
    background: #F4A64E;
}


  